
body {
    user-select: none;
    margin: 0;
    border: none;
}

nav{
    display: flex;
    background-color: lightgray;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}

.navButtons {
    height: inherit;
    margin: 0px 20px;
    
    
}

.siteLogo {
    display: flex;
    align-items: center;
}

.siteName {
    padding: 0px 20px;
    font-size: 32px;
}

.siteName .amigo{
    color: brown;
}

.siteName .secreto{
    color: green;
}

h1 {
    font-size: 64px;
    margin: 0px;
    margin-top: 30px;
}

h2 {
    font-size: 32px;
    margin: 10px;
}

span {
    text-decoration: underline;
}

button {
    margin: 10px;
    height: 40px;
    width: 100px;
}

section {
    padding: 50px;
    height: 90vh;
    background-color: gray;
    margin: 0;
}

footer {
    background-color: darkgray;
    height: 200px;
}

.page1 {
    background-color: rgb(111, 157, 175);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 75vh;
}

.page2 {
    background-color: rgb(139, 117, 160);
    padding: 70px;
}

.page3{
    padding: 70px;
}

.page2 h1 {
    font-size: 45px;
}

.page1down {
    max-width: 500px;
}

.criarGrupo {
    height: 50px;
    width: 120px;
}

.img1 {
    background-color: rgb(97, 124, 115);
    height: 60vh;
    width: 50%;
}

.img2 {
    background-color: rgb(95, 121, 112);
    height: 20vh;
    width: 1000px;
    
}

.img3{
    background-color: rgb(89, 116, 107);
    height: 70vh;
    width: 90%;
}


.imglogo {
background-color: beige;
height: 100px;
width: 100px;
border-radius: 50%;
margin: 20px;
}

.toppage3 {
    display: flex;
    justify-content: space-around;
}

.toppage2 {
    display: flex;
    justify-content: space-around;
}

.downpage2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.downpage3 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}



@media (max-width:800px) {

    
}