* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    padding: 10px 20px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

nav .buttons {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

button {
    border: none;
    height: 40px;
    margin-left: 20px;
    padding: 10px;
    border-radius: 8px;
    background-color: lightgray;
}

button.ativo {
    background-color: gray;
    border: 2px solid gray;
}

button.perfil {
    width: 40px;
    border-radius: 50%;
    background-image: url("imgs/depositphotos_137014128-stock-illustration-user-profile-icon.jpg");
    background-size: cover;
}

header {
    padding: 30px;
}

.container {
    display: flex;
    flex-direction: row;
}

section {
    overflow: hidden;
    width: 0px;
    transition: width 0.5s ease-in-out;
}

section.ativo {
    width: 100vw;
}
