body {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px black solid;
}

button {
    height: 30px;
    width: 90px;
    border-radius: 10px;
}

section {
    display: flex;
    border: 1px black solid;
    height: 100vh;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: space-between;
    align-content: space-between;
}

nav .siteLogo {
    display: flex;
    align-items: center;
}

nav .navButtons {
    margin-right: 15px;
}

img {
    width: 100%;
    max-width: 500px;
    max-height: 400px;
}

h1 {
    font-size: 50px;
    
}

h2 {
    font-size: 25px;
}

span {
    text-decoration: underline;
}

.page1 {
    background-image: url("imgs/Projeto\ \(20231221082206\).jpg");
    color: white;
    text-shadow: 0px 0px 30px  black ;
}

.page2 {
    background-image: url("imgs/Projeto\ \(20231221081943\).jpg");
}

.page3 {
    background-image: url("imgs/Projeto\ \(20231221081910\).jpg");
    text-shadow: 0px 0px 20px  white ;
}

.upDiv {
    margin-top: 10px;
    margin-left: 10vw;
}

.bottomDiv {
    margin-bottom: 10vw;
    margin-top: 50px;
    margin-right: 10vw;
    margin-left: 10vw;
}

.imgsRedes {
    display: flex;
    justify-content: center;
}
.imglogo {
    width: 100px;
    height: 100px;
    background-color: rgb(138, 138, 138);
    border-radius: 50%;
}

.img3 {
    max-height: 100px;
}
