* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    padding: 10px 20px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

nav .buttons {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

button {
    border: none;
    height: 40px;
    margin-left: 20px;
    padding: 10px;
    border-radius: 8px;
    background-color: lightgray;
}

button.ativo {
    background-color: gray;
}

button.perfil {
    width: 40px;
    border-radius: 50%;
    background-image: url("imgs/depositphotos_137014128-stock-illustration-user-profile-icon.jpg");
    background-size: cover;
}

header {
    padding: 30px;
}

section {
    overflow: hidden;
    height: 0px;
}

section.grupos {
    display: flex;
    background-color: lightgrey;
    height: auto;
    flex-wrap: wrap;
}

section.grupos .aviso {
    display: flex;
    flex-direction: row;
    padding: 30px;
    flex-wrap: wrap;
    align-items: center;
    width: fit-content;
    margin: auto;
    text-align: center;

    /* desativar com o js quando nao tiver grupos */
    display: none;
}

section.grupos .aviso .presentGif{
    margin: auto;
    width: 200px;
    height: 200px;
    background-image: url(presentIcons/a757d203a381c5628bddfa55af3094-unscreen.gif);
    background-size: cover;
    background-position: -30px 0px;
}

div.grupo {
    background-color: white;
    margin: 20px;
    border-radius: 8px;
    overflow: hidden;
    max-width: 500px;
    display: flex;
    flex-direction: row;
    height: fit-content;
}

div.grupoInfo {
    background-size: cover;
    background-position: center;
    background-color: gray;
}

div.grupoInfo .nomeGrupo {
    padding: 20px;
    padding-bottom: 10px;
    background-color: white;

}

div.grupoInfo .regras {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.grupoInfo .regras .info {
    background-color: white;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 8px;
    width: fit-content;
    height: fit-content;

}

div.amigoSecreto {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

div.amigoSecreto .amigo {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

div.amigoSecreto .foto {
    background-image: url(imgs/depositphotos_137014128-stock-illustration-user-profile-icon.jpg);
    background-size: cover;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin: 20px;
    position: relative;
}

div.amigoSecreto .foto::before {
    content: "";
    height: 50px;
    width: 50px;
    background-image: url(presentIcons/icons8-gift-unscreen.gif);
    position: absolute;
    top: -15px;
    left: 70px;
}


div.amigoSecreto .nome {
    margin: auto;
}

div.amigoSecreto .rotulo {
    margin-top: 15px;
    margin-bottom: -15px;
}

div.amigoSecreto .listaDeDesejos {
    background-color: lightgray;
    height: fit-content;
    width: fit-content;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    min-width: 150px;
    max-height: 200px;
    overflow-y: auto;
    
}


div.amigoSecreto.indefinido div.aviso {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


section#adicionar {
    background-color: yellow;
}

section#criar {
    background-color: greenyellow;
}

section#perfil {
    background-color: blueviolet;
}


@media (max-width: 450px) {
    div.grupo {
        flex-wrap: wrap;
    }
    div.aviso {
        flex-wrap: nowrap;
    }
}